<h1>Settign up Dataset</h1>

In [1]:
import pandas as pd
from pycaret.datasets import get_data
df = pd.read_csv('kr-vs-kp.data')

columns = pd.Series(['bkblk','bknwy','bkon8','bkona','bkspr','bkxbq','bkxcr','bkxwp','blxwp','bxqsq','cntxt','dsopp','dwipd',
 'hdchk','katri','mulch','qxmsq','r2ar8','reskd','reskr','rimmx','rkxwp','rxmsq','simpl','skach','skewr',
 'skrxp','spcop','stlmt','thrsk','wkcti','wkna8','wknck','wkovl','wkpos','wtoeg','winnable'], index=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36])


dataset = pd.DataFrame(df.values, columns=columns)
dataset

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,winnable
0,f,f,f,f,t,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
1,f,f,f,f,t,f,t,f,f,f,...,f,f,f,f,f,f,t,t,n,won
2,f,f,f,f,f,f,f,f,t,f,...,f,f,f,f,f,f,t,t,n,won
3,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
4,f,f,f,f,f,f,f,f,f,f,...,f,f,t,f,f,f,t,t,n,won
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,nowin
3191,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,nowin
3192,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,nowin
3193,t,f,t,f,f,f,t,f,f,f,...,f,t,f,f,t,f,f,f,n,nowin
3194,t,f,t,f,f,f,t,f,f,f,...,f,t,f,f,t,f,f,f,n,nowin

In [2]:
#check the shape of data
df.shape

(3195, 37)

In [3]:
data = dataset.sample(frac=0.9, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (2876, 37)
Unseen Data For Predictions: (319, 37)

<h1>Setting up the Environment in PyCaret</h1>

In [4]:
from pycaret.classification import *
exp_reg101 = setup(data = data, target = 'winnable', session_id=123)

<h1>Comparing Basic Models</h1>

In [5]:
best = compare_models()

<h1>Tuning Top 3 Models</h1>

In [6]:
catboost = create_model('catboost')

In [7]:
tuned_catboost = tune_model(catboost )

In [8]:
dt = create_model('dt')

In [12]:
tuned_dt = tune_model(dt)

In [10]:
lightgbm = create_model('lightgbm')

In [13]:
tuned_lightgbm = tune_model(lightgbm)

<h1>Conclusions</h1>
<p> The results were that out of all the models the untuned catboost is the best at predicting the winnability of king+rook vs king+pawn  which makes sense as it is a gradient boosting algorithm designed for catgeorical features which are all of th features in this dataset. </p>